{% extends "parking_app/base.html" %}
{% block title %}Rezerwacja{% endblock %}

{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'parking_app/tickets.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'parking_app/buttons.css' %}">
{% endblock %}

{% block content %}
<div class="content container">
    <div class="text-center">
  	<h2>Wybierz datę rezerwacji miejsca parkingowego</h2> 				       
        <tr>
    	<form method="POST" class="post-form">{% csrf_token %}
       	{{ form.as_p }}
        <button type="submit" class="save btn btn-default">Zatwierdz</button>			 
        </form>
        </tr>
    </div>
</div>
{% endblock content %}