{% extends "parking_app/base.html" %}
{% block title %}ParkingApp{% endblock %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'parking_app/welcome_page.css' %}">
{% endblock %}

{% block content %}
<div class="view">
    <div class="mask rgba-black-light align-items-center">
          <div class="col-md-12 mb-4 white-text text-center">
            <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5"><strong>Witamy!</strong></h1>
            <h2 class="text-uppercase mb-4 white-text"><strong>System obsługujący krótko i długoterminowe parkingi na lotnisku</strong></h2>
          </div>
    </div>
</div>
{% endblock content %}
