<!DOCTYPE html>
{% load static %}
<style>
th, td {
  border: 1px solid black;
  padding: 10px;
}
table {
  border-spacing: 0px;
}

column {
  float: left;
  width: 50%;
}

</style>
<html>
  <head>
    <meta charset="utf-8">
    <title>Airport Parking Reporting</title>
  </head>
  <body> 
    <column>
    <h1>Statystyki</h1>
    <h2>Statystyki ogólne</h2>
    <table>
      <tr>
        <th></th>
        <th>Liczba</th>
      </tr>
    {% for row in stats.general_stats %}
      <tr>
      {% for col in row %}      
        <td>{{ col }}</td>
      {% endfor %}    
      </tr>
    {% endfor %}
    </table>
  </br>
    <form action="{% url 'reporting_download_stats' %}" method="post">
      {% csrf_token %}    
      <button name="stats_download" value="general_stats">Pobierz statystyki parkingu</button>
    </form>
  <h2>Statystyki płatności</h2>
  <table>
  {% for row in stats.payment_stats %}
    <tr>
    {% for col in row %}      
      <td>{{ col }}</td>
    {% endfor %}    
    </tr>
  {% endfor %}
  </table>
</br>
<form action="{% url 'reporting_download_stats' %}" method="post">
  {% csrf_token %}    
  <button name="stats_download" value="payment_stats">Pobierz statystyki płatności</button>
</form>
</column>
<column>
  <h1>Pobierz dane</h1>
  <form action="{% url 'reporting_download_data' %}" method="post">
    {% csrf_token %}    
    <label for="tables">Wybierz tabelę:</label>
    <select name="tables" id="tables">
      {% for table in tables %}
      <option value="{{ table }}">{{ table }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Pobierz dane">
  </form>

</column>
  </body>
</html>