<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reservation</title>
  </head>
  <body>
    <p>Siemano, rozumiem ze chcesz zarezerwowac bilet dlugoterminowy, bo po chuj bys tu przylazil</p>
<form action="mailto:twój_adres_poczty@domena" method="post" enctype="text/plain"><div>
<!-- Podstawowe pole tekstowe -->
Podaj swoje imię <input name="Imię"><br>
Podaj swoje nazwisko <input name="Nazwisko"><br>
Numero Telefono Senor <input type="tel" /><br>
<label>Adres e-mail: <input type="email" name="email" /></label><br />
<label>Wybierz datę i godzinę: <input type="datetime-local" name="data" /></label>
<br />
<p><strong> Dane pojazdu </strong></p>


<p>Podaj typ pojazdu</p>
<select name="typo pojazdu">
	<option selected>Czerwony i szypki, z dwiema rurami</option>
	<option>limuzyna</option>
	<option>kabriolet na dupery</option>
	<option>Subaru doladowane, wyjebane</option>
	<option>Inna</option>
</select>
<br />
<p>Podaj numer rejestracyjny</p><br />




ma obliczyc kwote, podac miejsce, strefe itd
ew znizki kary
</form>
  </body>
</html>