{% extends "parking_app/base.html" %}
{% block title %}Bilety | Podgląd{% endblock %}

{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'parking_app/tickets.css' %}">
{% endblock %}

{% block content %}
<div class="content container">
    <div class="text-center">
        {% if bilet is not None %}
        <h2>Podgląd biletu (nr {{ bilet.nr_biletu }})</h2>
        <table class="table table-striped table-bordered w-50">
            <tr>
                <th>Numer biletu</th>
                <th>{{ bilet.nr_biletu }}</th>
            </tr>
            <tr>
                <td>Czas wjazdu</td>
                <td>{{ bilet.czas_wjazdu }}</td>
            </tr>
            <tr>
                <td>Czas wyjazdu</td>
                <td>{{ bilet.czas_wyjazdu }}</td>
            </tr>
            <tr>
                <td>Strefa</td>
                <td>{{ bilet.strefa }}</td>
            </tr>
            <tr>
                <td>Wykupiony czas</td>
                <td>{{ bilet.wykupiony_czas }}h</td>
            </tr>
            <tr>
                <td></td>
                <td>do {{ datetime_payed_to }}</td>
            </tr>
            {% if bilet_dlugoterminowy is not None %}
            <tr>
                <td>ID rezerwacji</td>
                <td>{{ bilet_dlugoterminowy.rezerwacjaa }}</td>
            </tr>
            <tr>
                <td>Miejsce parkingowe</td>
                <td>{{ bilet_dlugoterminowy.rezerwacjaa.miejsce_parkingowe }}</td>
            </tr>
            {% endif %}
        </table>
        {% else %}
        <h2>Bilet nie istnieje</h2>
        {% endif %}
    </div>
</div>
{% endblock content %}