<!DOCTYPE html>
{% load static %}

<link rel = "stylesheet" type = "text/css" href = "{% static 'parking_app/styles.css' %}">
  <head>
    <meta charset="utf-8">
    <title>Airport Parking Tickets</title>
  </head>
  <body>
      <div class="row">
        <div class="column">
            <h1>Pobranie</h1>
            <button onclick="window.location='/tickets/new/shortterm';">Bilet krótkoterminowy</button>
            <button onclick="window.location='/tickets/new/longterm';">Bilet długoterminowy</button>
        </div>
        <div class="column">
            <h1>Podgląd</h1>
            <form action="{% url 'tickets_view_selected' %}" method="post">
              {% csrf_token %}    
              <label for="nrBiletu">Podaj numer biletu:</label>
              <input name="nrBiletu" type="number" value="" min=1 required>
              <input type="submit" value="Wyświetl">
            </form>
        </div>
        <div class="column">
            <h1>Opłacenie</h1>
            <form action="{% url 'tickets_pay_selected' %}" method="post">
              {% csrf_token %}    
              <label for="nrBiletu">Podaj numer biletu:</label>
              <input name="nrBiletu" type="number" value="" min=1 required>
              <input type="submit" value="Opłać">
            </form>
        </div>
      </div>
  </body>
</html> 