{% extends "parking_app/base.html" %}
{% block title %}Bilety | Pobranie | Krótkoterminowy{% endblock %}

{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'parking_app/tickets.css' %}">
{% endblock %}

{% block content %}
<div class="content container">
    <div class="text-center">
        <h2>Pobierz bilet krótkoterminowy</h2>
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary center-block">Pobierz</button>
        </form>
    </div>
</div>
{% endblock content %}